@import "compass/reset";

$bg: #011;
$fg: #fafafc;

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: $bg;
    color: $fg;
    text-align: center;
    font-family: monospace;
    margin: 0;
    padding: 0;
}
a {
    color: $fg;
}
#ui-wrapper {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    
}
#ui {
    display: table-cell;
    vertical-align: middle;
    font-size: 40pt;
}
#progress {
    display: none;
}
.loading {
    color: darken($fg, 25%);
    font-size: 50%;
}
#start {
    display: none;
    a {
        font-size: 50%;
        text-decoration: none;
    }
}
.percentage {
    margin: 0.2em;
    font-size: 300%;
}
.credits {
    display: none;
    font-size: 35%;
}
